@page
<div class="container">
    <h2>SignalR Streaming</h2>
    <button id="stream-btn">Stream</button>
    <div class="row">
        <h3>Messages</h3>
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/5.streaming.js"></script>